*/netbox-images.tar
netbox-images.tar

python-env-3_container.tar
*/python-env-3_container.tar

python-env-3-development_container.tar
*/python-env-3-development_container.tar

extensions
*/extensions/*